extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros",class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a sagittis est, vitae accumsan ex. In sit amet posuere sapien. In eu urna sit amet libero ornare pulvinar.

                p Donec sit amet interdum justo. Integer cursus odio eu dui laoreet auctor. Nunc tristique, lectus eget hendrerit fringilla, nisi urna tristique tellus, eu lobortis arcu ipsum vitae risus. Pellentesque malesuada varius orci vel sodales. Suspendisse nec mattis massa. Aenean tempor in purus eget luctus.
                p Proin molestie sapien vitae nunc posuere cursus. Aliquam at nibh molestie, convallis ipsum in, ullamcorper ligula. Vivamus a auctor enim. Suspendisse luctus diam non velit blandit, et ullamcorper risus sollicitudin. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4   
                    img(src="img/icono_seguridad.svg",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Duis pellentesque, ipsum at posuere pellentesque, lacus est rhoncus ante, eu venenatis libero diam vel nisl.
                .col-md-4   
                    img(src="img/icono_destinos.svg",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Duis pellentesque, ipsum at posuere pellentesque, lacus est rhoncus ante, eu venenatis libero diam vel nisl.
                .col-md-4   
                    img(src="img/icono_precios.svg",class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Duis pellentesque, ipsum at posuere pellentesque, lacus est rhoncus ante, eu venenatis libero diam vel nisl.