extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura


block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Pellentesque ligula tellus, ornare non iaculis eu, convallis sit amet tellus. Morbi luctus ex elit, tincidunt efficitur augue sagittis vel. Nulla facilisi. Donec et rutrum sapien. Mauris varius velit a mauris scelerisque tempor. Maecenas ac sapien turpis. 
                p Aenean accumsan massa velit, at tincidunt lorem mattis a. Maecenas diam tellus, placerat eu sapien ac, ullamcorper ultricies tellus. Nulla iaculis arcu augue, id posuere leo fringilla id. Morbi et blandit mi. Nam et elementum orci, quis tincidunt neque.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg",class="img-fluid")

        h2.text-center.mb-5 Proximos Viajes
        include ../layout/partials/viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a canada
                        p.fecha 20 de Noviembre 2020 - 28 de enero 2021
                        p.precio $2,500 USD
    .container.mt-5
        h2.text-center.mb-3 Testimoniales
        include ../layout/partials/testimoniales

    